.modal {
  display: flex;

  align-items: center;
  justify-content: left;
}

.modal-content {
  display: flex;

  align-items: center;
  justify-content: center;
}
.app {
}
.submit-button {
}
